* {
    font-family:marianne, avenir next;
}

.en-tete {
    text-align: center;
    background-color: lightgoldenrodyellow;
    font-size: 75px;
    color: black;
}

#Conteneur {
    width:100%;
    height:1000px;
}



#Carte {
    position:relative;
    z-index:1;
	width: 100%;
	height: 980px;
	order:1;
}

.boite_boutons{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}












